droid-report/src/test/resources/droidDbUnit.dtd

<!ELEMENT dataset (
    FORMAT*,
    HIBERNATE_UNIQUE_KEY*,
    IDENTIFICATION*,
    IDENTIFICATIONMETHODS*,
    NODESTATUS*,
    PROFILE_RESOURCE_NODE*,
    RESOURCETYPE*)>

<!ELEMENT FORMAT EMPTY>
<!ATTLIST FORMAT
    PUID CDATA #REQUIRED
    EXT_ID CDATA #IMPLIED
    MIME_TYPE CDATA #IMPLIED
    NAME CDATA #IMPLIED
    VERSION CDATA #IMPLIED
>

<!ELEMENT HIBERNATE_UNIQUE_KEY EMPTY>
<!ATTLIST HIBERNATE_UNIQUE_KEY
    NEXT_HI CDATA #IMPLIED
>

<!ELEMENT IDENTIFICATION EMPTY>
<!ATTLIST IDENTIFICATION
    IDENTIFICATION_ID CDATA #REQUIRED
    FORMAT_ID CDATA #REQUIRED
    JOB_ID CDATA #REQUIRED
>

<!ELEMENT IDENTIFICATIONMETHODS EMPTY>
<!ATTLIST IDENTIFICATIONMETHODS
    IDENTIFICATION_METHOD_ID CDATA #REQUIRED
    IDENTIFICATION_METHOD CDATA #IMPLIED
    IDENTIFICATION_METHOD_DESCRIPTION CDATA #IMPLIED
>

<!ELEMENT NODESTATUS EMPTY>
<!ATTLIST NODESTATUS
    NODE_STATUS_ID CDATA #REQUIRED
    NODE_STATUS CDATA #IMPLIED
    NODE_STATUS_DESCRIPTION CDATA #IMPLIED
>

<!ELEMENT PROFILE_RESOURCE_NODE EMPTY>
<!ATTLIST PROFILE_RESOURCE_NODE
    NODE_ID CDATA #REQUIRED
    ERROR_MESSAGE CDATA #IMPLIED
    EXTENSION CDATA #IMPLIED
    IDENTIFICATION_METHOD CDATA #IMPLIED
    LAST_MODIFIED_DATE CDATA #IMPLIED
    NAME CDATA #REQUIRED
    NODE_STATUS CDATA #IMPLIED
    RESOURCE_TYPE CDATA #REQUIRED
    FILE_SIZE CDATA #IMPLIED
    PREFIX CDATA #IMPLIED
    PREFIX_PLUS_ONE CDATA #IMPLIED
    URI CDATA #REQUIRED
    PARENT_ID CDATA #IMPLIED
>

<!ELEMENT RESOURCETYPE EMPTY>
<!ATTLIST RESOURCETYPE
    RESOURCE_TYPE_ID CDATA #REQUIRED
    RESOURCE_TYPE CDATA #IMPLIED
    RESOURCE_TYPE_DESCRIPTION CDATA #IMPLIED
>

