droid-results/src/test/resources/droidDbUnit.dtd

<!ELEMENT dataset (
    FORMAT*,
    HIBERNATE_UNIQUE_KEY*,
    IDENTIFICATION*,
    PROFILE_RESOURCE_NODE*)>

<!ELEMENT FORMAT EMPTY>
<!ATTLIST FORMAT
    PUID CDATA #REQUIRED
    MIME_TYPE CDATA #IMPLIED
    NAME CDATA #IMPLIED
    VERSION CDATA #IMPLIED
>

<!ELEMENT HIBERNATE_UNIQUE_KEY EMPTY>
<!ATTLIST HIBERNATE_UNIQUE_KEY
    NEXT_HI CDATA #IMPLIED
>

<!ELEMENT IDENTIFICATION EMPTY>
<!ATTLIST IDENTIFICATION
    NODE_ID CDATA #REQUIRED
    PUID CDATA #REQUIRED
>

<!ELEMENT PROFILE_RESOURCE_NODE EMPTY>
<!ATTLIST PROFILE_RESOURCE_NODE
    NODE_ID CDATA #REQUIRED
    EXTENSION_MISMATCH CDATA #REQUIRED
    IDENTIFICATION_COUNT CDATA #IMPLIED
    EXTENSION CDATA #IMPLIED
    HASH CDATA #IMPLIED
    IDENTIFICATION_METHOD CDATA #IMPLIED
    LAST_MODIFIED_DATE CDATA #IMPLIED
    NAME CDATA #REQUIRED
    NODE_STATUS CDATA #IMPLIED
    RESOURCE_TYPE CDATA #REQUIRED
    FILE_SIZE CDATA #IMPLIED
    PREFIX CDATA #IMPLIED
    PREFIX_PLUS_ONE CDATA #IMPLIED
    TEXT_ENCODING CDATA #IMPLIED
    URI CDATA #REQUIRED
    PARENT_ID CDATA #IMPLIED
>

